<h2>About this site...</h2>
<h3>@ViewBag.Message</h3>




    <div class="span6">
        
        <div class="l-body grid rye-grid">
            <div class="span8">
                <div class="cms-page">

                    <div class="content-cms">
                        <p>Step through our door in the High Street and you will be on a journey of discovery. &nbsp;Inside the Gallery, you will find interlinked spaces and changing displays of contemporary art to browse and buy.&nbsp; You can also treat yourself to a leisurely view of some of our Permanent Collection.</p>

                        <p class="float-right" style="margin:20px"><img alt="" src="http://www.ryeartgallery.co.uk/uploads/image_9.jpg"></p>

                        <p>The slightly quirky layout is because the Gallery has been created from two domestic houses in two different Rye streets, now combined via a short staircase link.&nbsp; Artists Howard Gull Stormont (1859-1935) and Mary Elizabeth Stormont (1871—1962) lived in Ypres Studio, an Arts and Crafts house in Ockmans Lane, and artist Eileen Easton lived at 107 High Street.&nbsp; The houses now make one premises. &nbsp;</p>

                        <h3>Creating the Gallery</h3>

                        <p>Mary and Howard had eloped to Rye, as Mary’s parents in Essex had thought that their daughter marrying a man somewhat older than she, and a practising artist at that, was not a desirable match.&nbsp; They married in Rye church. &nbsp;Both were regional exhibitors while Mary in particular regularly exhibited her flower paintings, landscapes and interiors at the Royal Academy.&nbsp; She created the Rye Art Gallery Trust in 1957 and bequeathed the Ypres Studio to the Trust at her death in 1962.&nbsp; One of the couple’s many artist friends, the painter Eileen Easton, became one of the original trustees and she later bequeathed her High Street house to the Trust as well.</p>

                        <p class="float-left" style="margin:20px"><img alt="" src="http://www.ryeartgallery.co.uk/uploads/image_7.jpg"></p>

                        <p>The domestic history of the buildings has left its mark. &nbsp;Even where the rooms have been combined, the scale of the spaces is human and friendly.&nbsp; There are stunning views down the Rother estuary, especially from Howard and Mary’s old studio at the top of the building (Gallery 6). Through an unmarked door, there is just about enough additional room for our administrative work, some of it taking place under the eaves in the original bedrooms.</p>

                        <h3>The Gallery’s Contemporary Artists and Makers</h3>

                        <p>Our spaces are full of all kinds of exciting contemporary artwork by artists and makers working in numerous styles and media.</p>

                        <p>We sell paintings, prints, drawings, jewellery, ceramics, metalwork, textiles, glassware, wood, and mixed media pieces. They range in price from five pounds to several thousands of pounds.&nbsp;&nbsp; Also available are cards, postcards, books, mugs, textiles and even designer chocolate (yum!).</p>

                        <p>We operate a special scheme for those who fall in love with a piece but prefer to gently spread out their payments.&nbsp; We are happy to respond to queries and enquiries about the work we show. &nbsp;Our staff are well qualified with degrees in Fine Art.</p>

                        <h3>The Permanent Collection</h3>

                        <p class="float-right" style="margin:20px"><img alt="" src="http://www.ryeartgallery.co.uk/uploads/image_8.jpg"></p>

                        <p>Have a look at our dedicated pages to see our holdings. &nbsp;They include many works by artists of national and international importance as well as regional favourites.&nbsp; We have uploaded most of our Catalogue and future plans are to provide you with an image for every work along with its descriptive entry. &nbsp;</p>

                        <p>Exhibitions drawn from the Collection are usually shown in our top floor studio Gallery 6 and often Gallery 5 as well.</p>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>

                        <p><strong>Our Links with Schools:</strong></p>

                        <p><strong>Student Exhibitions</strong></p>

                        <p>We are pleased to exhibit the work of students from our local Schools. &nbsp;<strong>Rye College, Buckswood School </strong><span>and</span><strong> Benenden</strong><span> have all held fresh and exciting exhibitions of their GCSE and/or A-level Art at the Gallery. Private Views can be arranged as needed in collaboration with school staff.</span></p>

                        <p><strong>School Visits</strong></p>

                        <p>We are happy to host School visits of students supervised by their teachers. &nbsp;A recent visit was from <strong>Northiam Primary School </strong>who brought sketchbooks and worksheets and spent a couple of hours together with their teachers in the Gallery.</p>

                        <p>&nbsp;If other schools in our area are also interested to work with us, please get in touch with the Director at the Gallery.</p>

                        <p><strong><span>The Stormont Awards</span></strong></p>

                        <p><span>Go to our dedicated page for this to see how our local young people are getting involved.</span></p>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>
                    </div>
                    <div class="grid top-pad break-700">
                        <div class="span4">
                            <p class="cms-image">
                                <img class="image-border" src="/local/rye/uploaded/images/283-283/tony_bennett_ceramic_heads_2013.jpg" alt="">
                            </p>
                            <p class="cms-image-caption">
                            </p>
                        </div>
                        <div class="span4">
                            <p class="cms-image">
                                <img class="image-border" src="/local/rye/uploaded/images/283-283/rag_view_from_garden_1.jpg" alt="">
                            </p>
                            <p class="cms-image-caption">
                            </p>
                        </div>
                        <div class="span4">
                            <p class="cms-image">
                                <img class="image-border" src="/local/rye/uploaded/images/283-283/img_3426_1__1.jpg" alt="">
                            </p>
                            <p class="cms-image-caption">
                            </p>
                        </div>
                    </div>            <div class="grid top-pad break-700">
                        <div class="span4">
                            <p class="cms-image">
                                <img class="image-border" src="/local/rye/uploaded/images/283-283/dsc_1488.jpg" alt="">
                            </p>
                            <p class="cms-image-caption">
                            </p>
                        </div>
                        <div class="span4">
                            <p class="cms-image">
                                <img class="image-border" src="/local/rye/uploaded/images/283-283/img_8341.jpg" alt="">
                            </p>
                            <p class="cms-image-caption">
                            </p>
                        </div>
                        <div class="span4">
                            <p class="cms-image">
                                <img class="image-border" src="/local/rye/uploaded/images/283-283/tony_head.jpg" alt="">
                            </p>
                            <p class="cms-image-caption">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

