<h2>Contacts Page...</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Rozdilna Way<br />
    Rozdilna, UA 3808052-6399<br />
    <abbr title="Phone">P:</abbr>
    +38-093-652-0202
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@musicportal.com">Support@picturegallery.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@musicportal.com">Marketing@picturegallery.com</a>
</address>